@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
}
/* Shared Styles */
.display-flex,
.ul {
  display: flex;
  margin: 0 auto;
}
.width {
  max-width: 1440px;
}
.dark-2 {
  color: #424242;
}
.dark-1 {
  color: #131313;
}
.dark-3{
  color: #727272;
}
.btn-shared{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px ;
  border-radius: 8px ;
  border: none;
  
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
/* Header  navber and banner releted style */
.head {
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-bar {
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  margin: 0 auto;
  max-width: 1440px;
}
/* .brand{
  padding-left:228px ;
  
} */
.brand {
  font-size: 2.9rem;
  font-weight: bold;
}
.nav-item {
  list-style: none;
  margin-right: 40px;
}
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
}
/* Banner Section */
.banner {
  text-align: center;
  margin: 0 auto;
  max-width: 868px;
  margin-bottom: 42px;
}
.baner-container {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-img {
  width: 100%;
}
.banner h1{
  font-size: 4rem;
  font-weight: bold;
}
/* Team Seaction of Main */
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}  
.team{
    align-items: center;
    margin-top: 130px;
  }
  .team-features {
  margin-left: 73px;
  }
  .team-features h1 {
    font-size: 45px;
    font-weight:bold ;
    max-width: 537px;
  }
  .Team-quick{
    color: #727272;
    font-weight: 500;
  }
  .quick-features{
    color: #FF900E;
  }
  .team-description{
    font-size: 1rem;
  }
.fact-1{
  font-size: 2.8rem;
  font-weight: bold;
}
/* Rank Section */
.rank-container{
  margin-top: 130px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10.8rem ;
  margin-top: 12.5rem;
 
}
.rank{
 border: 1px solid #FF900E  ;
  
 justify-content: center;
 align-items: center;
 
height: 241px;
  width: 241px;
  border-radius: 8px;

}

.rank h4{
  font-size: 2.8rem;
  font-weight: 600;
  color:#424242 ;
  margin-top: 10px;
}
.rank p{
  font-size: 20px;
  font-weight: 600;
  color: #727272;
  margin-top: 5px;
  margin-bottom: 100px;
}
.rank img { margin-top: 45px;
 
}
/* Facility section */
.facility-Section{
  margin-top: 130px;
  
}
.facility-item{
  max-width: 468px;
  border: 5px;
  border-radius: 8px;
 
}
.f-title{
  max-width: 29.25rem;
}
.f-description{
max-width: 36.25rem;
}
.f-card{
 max-width: 36.25rem;
  padding: 35px 30px 25px 30px;
  box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-top: 1.3rem;

;
}
.f-img img {
  max-width: 100%;
 
  
  margin-left: 130px;
}




/*  Responsive Display */
@media screen and (max-width: 576px) {
  .display-flex,
.ul {
flex-direction: column;
margin: 0 auto;
}
.team-img{
   grid-template-columns: repeat(1, 1fr);
   margin: 0 auto;
}
  .team-features {
  margin-left: 25px;
  }
.rank-container{
  grid-template-columns: repeat(1, 1fr);

}
.f-img img {
 margin-left: 0px;

}
.facility-Section{
   text-align: center;
}
}